<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="" />
        <meta name="author" content="jon.reckner@gmail.com" />
        <link rel="icon" href="favicon.ico" />

        <title>Signin Template for Bootstrap</title>

        <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap/themes/bootstrap-darkly.min.css" />

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="css/signin.css" rel="stylesheet" />

    </head>
    <body>
        <div class="container">

            <div class="notifications-signin alert alert-success center" th:if="${param.logout}">
                <a href="/login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                You have been logged out.
            </div>

            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" autocomplete="off" />
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required="required" autocomplete="off" />
                <div class="notifications-signin alert alert-danger center" th:if="${param.error}">
                    <a href="/login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Invalid username and password.
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="remember-me" /> Remember me</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div> <!-- /container -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
